body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.popup-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}
